<div class="search">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Enter City.." name="cityValue" [(ngModel)] = "cityName"/>
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hot.png" alt="Hot Logo" *ngIf="weatherData.main.temp > 30"/>
    <img src="../assets/cold.png" alt="Cold Logo" *ngIf="weatherData.main.temp <= 30"/>

    <div class="weather-data">
      <div class="location">{{weatherData.name + ', ' + weatherData.sys.country}}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0' }}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information..
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" alt="Min Temp" />
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" alt="Max Temp" />
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="humidity" />
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="Wind" />
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}} kmph
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/hot.png" alt="Hot Logo" *ngIf="14 > 15"/>
    <img src="../assets/cold.png" alt="Cold Logo" *ngIf="14 <= 15"/>

    <div class="weather-data">
      <div class="location">Jamnagar</div>
      <div class="temperature">{{ 24.02 | number: '1.0-0' }}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information..
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" alt="Min Temp" />
          <span>Min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" alt="Max Temp" />
          <span>Max</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="humidity" />
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          10%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="Wind" />
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          10 kmph
        </div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>